* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin: 30% 5%;
}

.div-heading {
  width: 100%;
  height: 50px;
  background-color: #ff9a4b;
}

.div-center {
  width: 100%;
  display: flex;
  justify-content: center;
}

.box {
  width: 300px;
  margin: 50px 30px 50px 0;
  background-color: #eeeeee;
  position: relative;
}

.photo1,
.photo2,
.photo3 {
  margin: 10px 10px 0 10px;
  height: 150px;
  background-size: cover;
  background-position: bottom;
}

.photo1 {
  background-image: url(chapter9_exercise/img/flow01.png);
}

.photo2 {
  background-image: url(chapter9_exercise/img/flow02.png);
}

.photo3 {
  background-image: url(chapter9_exercise/img/flow03.png);
}

.text-box {
  margin: 0 10px 10px 10px;
}

h3 {
  margin-top: 15px;
}

p {
  margin-top: 5px;
}

.step {
  color: #eeeeee;
  background-color: #ff9a4b;
  position: absolute;
  top: 0;
}

.div-bottom {
  width: 100%;
  height: 50px;
  background-color: #aaaaaa;
}
